



gevent == 1.4.0
flask == 1.0.2


beautifulsoup4 == 4.7.1
httplib2 == 0.18.1
kafka_python == 1.4.4
lxml == 4.3.1
python-dateutil == 2.7.5
requests == 2.21.0
scrapy == 1.6.0
simplejson == 3.16.0
virtualenv == 16.3.0
twisted == 20.3.0


numpy == 1.16.1
scikit-learn == 0.20.2
scipy == 1.2.1
pandas == 0.24.1


Pillow == 5.4.1


ibm_db == 2.0.9
cloudant == 2.11.0

watson-developer-cloud == 1.7.1
ibm-cos-sdk == 2.4.3
ibmcloudsql == 0.2.23


psycopg2 == 2.7.7
pymongo == 3.7.2

redis == 2.10.6
pika == 0.13.0

elasticsearch >=5.0.0,<6.0.0
cassandra-driver == 3.16.0
